*{
  margin: 0;
  padding: 0;
}
ul{
  list-style: none;
}
body{
  height: 100%;
  overflow: hidden;
}
.score{
  text-align: center;
  font-size: 36px;
  margin-bottom: 2rem;
}
.game-text{
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.9);
  left: 0;
  top: 0;
  font-size: 60px;
  color: #fff;
}
.game-text > button{
  padding: 0.9rem 1rem;
  color: #fff;
  background-color: salmon;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}
.game-text > button:hover{
  background-color: red;
}
.playground > ul{
  border: 1px solid #333;
  width: 300px;
  margin: 0 auto;
}
.playground > ul > li{
  width: 100%;
  height: 25px;
}
.playground > ul > li > ul{
  display: flex;
}
.playground > ul > li > ul > li{
  width: 30px;
  height: 25px;
  outline: 1px solid #ccc;
}
.tree{
  background-color: #67c23a;
}
.bar{background-color: orange;}
.zee{background-color: yellow;}
.elLeft{background-color: purple;}
.elRight{background-color: teal;}
.square{background-color: red;}